<!DOCTYPE HTML>
 {% load staticfiles %}
<html>

<head>
  <title>tfg</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{%static 'entorno/css/style.css' %}" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <!--script type="text/javascript" src="js/modernizr-1.5.min.js"></script-->
  <script type="text/javascript" src="{%static 'entorno/js/modernizr-1.5.min.js' %}"></script>
  <script type="text/javascript" src="{%static 'entorno/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{%static 'entorno/js/jquery.easing-sooper.js' %}"></script>
  <script type="text/javascript" src="{% static 'entorno/js/jquery.sooperfish.js'%}"></script>
  <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
  <script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>
  <script type="text/javascript" src="{% static 'entorno/js/highcharts.js'%}" type="text/javascript"></script>
  <script type="text/javascript" src="{% static 'entorno/js/modules/exporting.js'%}" type="text/javascript"></script>
  



  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
  </script>
<script type="text/javascript">
function mostrar(){
var elem = document.getElementById('oculto');
if (elem.style.display == 'none') 
	{elem.style.display = 'block';}
else
	{elem.style.display = 'none';}
}
</script>

<script type="text/javascript">
function mostrar1(){
var elem = document.getElementById('oculto1');
if (elem.style.display == 'none') 
	{elem.style.display = 'block';}
else
	{elem.style.display = 'none';}
}
</script>

<script type="text/javascript">
function mostrar2(){
var elem = document.getElementById('oculto2');
if (elem.style.display == 'none') 
	{elem.style.display = 'block';}
else
	{elem.style.display = 'none';}
}
</script>

<script type="text/javascript">
function mostrar3(){
var elem = document.getElementById('oculto3');
if (elem.style.display == 'none') 
	{elem.style.display = 'block';}
else
	{elem.style.display = 'none';}
}
</script>
<script type="text/javascript">
function mostrar4(){
var elem = document.getElementById('oculto4');
if (elem.style.display == 'none') 
	{elem.style.display = 'block';}
else
	{elem.style.display = 'none';}
}
</script>


<!--script type="text/javascript">
function ocultar4(){
document.getElementById('oculto4').style.display = 'none';}
</script-->

</head>

<body>
  <div id="main">
    <header>
	<div style="clear:both">
      		<div id="logo">
			<h1><a href="http://www.uam.es/ss/Satellite/es/home/"><IMG SRC="{% static 'entorno/images/logo_uam.jpg'%}" ALT="UAM" WIDTH=187 HEIGHT=82></a></h1>
		</div>

		<div align="center "id="logo2">
          		<!-- class="logo_colour", allows you to change the colour of the text -->
			<h1><strong><font color="#09D4FF" size=5 ALIGN="center"><a href="{% url 'entorno:inicio' %}" style="text-decoration:none">Entorno para la gestión de sondas de red de bajo coste</a></h1></font></strong>
         	</div>
		
		<div id="logo1"><h1><a href="http://www.uam.es/ss/Satellite/EscuelaPolitecnica/es/home.htm"><IMG SRC="{% static 'entorno/images/logo-eps1.png'%}" ALT="EPS" align="right"></a></h1>
        		
      		</div>
	</div>
      <nav>
       <div id="menu_container">
          <ul class="sf-menu" id="nav">
            <li><a href="{% url 'entorno:inicio' %}">Inicio</a></li>
	   <li><a href="{% url 'entorno:des' %}">Tipos de medidas</a></li>
            <li><a href="{% url 'entorno:des' %}">Medidas activas</a>
              <ul>
               <li><a href="{% url 'entorno:filetransfer' %}">Descarga de fichero</a></li>
                <li><a href="{% url 'entorno:packetpair' %}">Pares de paquetes</a></li>
                <li><a href="{% url 'entorno:packettrain' %}">Tren de paquetes</a></li>
               </ul>  
            </li>
            <li><a href="{% url 'entorno:des' %}">Medidas pasivas</a>
              <ul>
                <li><a href="{% url 'entorno:flujos' %}">Flujos</a></li>
             	<li><a href="{% url 'entorno:mrtg' %}">MRTG</a></li>
               </ul>  
             </li>  
               <li><a href="{% url 'entorno:medidas' %}">Tomar medidas</a>
		<ul>
               		<li><a href="{% url 'entorno:iperf_page' %}">Iperf</a></li>
                	<li><a href="{% url 'entorno:ping_page' %}">Ping</a></li>
                	<li><a href="{% url 'entorno:fprobe_page' %}">Fprobe</a></li>
               </ul>  
	       </li>  
            </ul> 
           	
        </div>
      </nav>
    </header>
    <div id="site_content">
      <div id="sidebar_container">

        <div class="sidebar">
		<!--div style="text-align:left;width:350px;padding:0.5em 0;"> <h2><a style="text-decoration:none;" href="http://www.zeitverschiebung.net/es/city/3117735"><span style="color:gray;">Hora actual en</span><br />Madrid, Spain</a></h2> <iframe src="http://www.zeitverschiebung.net/clock-widget-iframe?language=es&timezone=Europe%2FMadrid" width="65%" height="120" frameborder="0" seamless></iframe> <small style="text-align:left;color:gray;"> <a href="http://www.zeitverschiebung.net/es/" style="text-align:left;color: gray;"></a></small> </div-->	
	</div>
        <div class="sidebar">
          <h4>Links de interes.</h4>
          <ul>
            <li><a href="http://www.uam.es/ss/Satellite/es/home/">UAM</a></li>
            <li><a href="http://www.uam.es/ss/Satellite/EscuelaPolitecnica/es/home.htm">Escuela Politécnica superior</a></li>
      
           
          </ul>
    	</div>
	
    
      </div>
      <div class="content">
        <h1>Iperf</h1>
        <p align="justify">Iperf es un programa que se desarrollo para poder medir el rendiemento de la red, es comunmente utilizado para medir el ancho de banda. Para ello se necesita crear un servidor y un cliente iperf, el servidor escucha las peticiones que realiza el cliente y es en el cliente donde se obtiene un informe del estado de la red.</p>
        <p align="justify">En este entorno se utiliza iperf3 que es un proyecto que trato de simplificar iperf.</p>
      
        
      </div>
    </div>

 <div class="form_settings">
 <input class="submit" type="button" value="Arrancar/Detener servidor" onclick="mostrar2()">
 <!--input  class="submit" type="button"value="Ocultar" onclick="ocultar2()"-->
 </div>

 <div class="form_settings">
 <input class="submit" type="button" value="Arrancar cliente" onclick="mostrar3()">
 <!--input  class="submit" type="button"value="Ocultar" onclick="ocultar3()"-->
 </div>

 <div class="form_settings">
 <input class="submit" type="button" value="Realizar filtro" onclick="mostrar4()">
 <!--input  class="submit" type="button"value="Ocultar" onclick="ocultar4()"-->
 </div>
     
<div id=oculto2 style='display:none;'>  
	<div class="form_settings">
  		<form  action="{% url 'entorno:execute' %}" autocomplete="on"  method="post">
                {% csrf_token %} 
            		<h2>Arrancar servidor Iperf:</h2>
              		<p> 
                		<label for="ip_servidor_iperf" ><b> IP servidor:</b></label>
                		<input id="ip_servidor_iperf" name="ip_servidor_iperf" type="text" placeholder="000.000.0.0"/>
              			</p>                             
             			<input type="submit" class="submit1" value="Ejecutar" onclick=""> 
     		</form>   
   	</div>
	<div class="form_settings">
  		<form  action="{% url 'entorno:siperf' %}" autocomplete="on"  method="post">
		{% csrf_token %}
			<input type="submit" class="submit1" value="Detener servicio" onclick="">
 		</form>   
   	</div>
</div>
     
<div id=oculto3 style='display:none;'>  
<div class="form_settings">
  <form  action="{% url 'entorno:iperf' %}" autocomplete="on"  method="post">
            {% csrf_token %}

	    
            <h2>Arrancar cliente Iperf:</h2>
              <p> 
                <label for="ip_servidor_iperf" ><b> IP servidor:</b></label>
		<input id="ip_servidor_iperf" name="ip_servidor_iperf" type="text" placeholder="000.000.0.0"/>
	      </p>
	      <p>
		<label for="ip_cliente_iperf" ><b> IP cliente:</b></label>
                <input id="ip_cliente_iperf" name="ip_cliente_iperf" type="text" placeholder="000.000.0.0"/>
              </p>
                             
             <input type="submit" class="submit1" value="Medir" onclick=""> 
     </form>   
   </div>
</div> 
<div> 
  <div class="form_settings">
 {% if out1 %}
	<p>{{ out1 }}</p>
 {% else %} 
 {% endif %}
</div> 
<div class="form_settings">
 {% if out2 %}
	<p>{{ out2 }}</p>
 {% else %}   
 {% endif %}
</div>
     {% if l %}
    	<p><h2><font size=5> Parámetros de calidad de servicio utilizando el método:<i> Iperf</i></h2></font><p>
	
    	<table class=tabla1 >
		<tr>
		<td width=10>Id</td>
		<td width=90>Timestamp</td>
		<td>IP Origen</td>
		<td>Puerto Origen</td>
		<td>IP Destino</td>
		<td>Puerto Destino</td>
		<td>Duracion</td>
		<td>Ancho de banda (Gbits/sec)</td>
		
        </tr></table>
	<div class=tabla style="min-width: 400px; height: 50px; margin: 0 auto;">
	<table class=tabla>
     	
		<tr>
		<td width=10>{{l.id}}</td>
		<td width=90>{{l.timestamp}}</td>
		<td>{{l.IP_origen}}</td>
		<td>{{l.puerto_origen}}</td>
		<td>{{l.IP_destino}}</td>
		<td>{{l.puerto_destino}}</td>
		<td>{{l.duracion}}</td>
		<td>{{l.bandwitdh}}</td>
       
		</tr>

    	
	
    	</table></div>
       
    {% else %}
  
    {% endif %}
  </div>

 <div class="form_settings">
 <input class="submit" type="button" value="Mostrar/Ocultar QoS" onclick="mostrar()">
 <!--input  class="submit" type="button"value="Ocultar QoS" onclick="ocultar()"-->
 </div>
 <div id='oculto' style='display:none;'> 
  
     {% if s %}
    	<p><h2><font size=5> Parámetros de calidad de servicio utilizando el método:<i> Iperf</i></h2></font><p>
	
    	<table class=tabla1 >
		<tr>
		<td >Id</td>
		<td>Timestamp</td>
		<td>IP Origen</td>
		<td>Puerto Origen</td>
		<td>IP Destino</td>
		<td>Puerto Destino</td>
		<td>Duracion</td>
		<td>Ancho de banda (Gbits/sec)</td>
		
        </tr></table>
	<div style="height:400px; overflow-y:scroll">
	<table class=tabla>
     	{% for question in s %}
		<tr>
		<td >{{question.id}}</td>
		<td >{{question.timestamp}}</td>
		<td>{{question.IP_origen}}</td>
		<td>{{question.puerto_origen}}</td>
		<td>{{question.IP_destino}}</td>
		<td>{{question.puerto_destino}}</td>
		<td>{{question.duracion}}</td>
		<td>{{question.bandwitdh}}</td>
       
		</tr>

    	{% endfor %}
	
    	</table></div>
       
    {% else %}
    <p>No hay disponibles párametros de calidad de servicio.</p>
    {% endif %}
  </div>

     
<div id=oculto4 style='display:none;'>  
<div class="form_settings">
    <form  action="{% url 'entorno:formiperf' %}" autocomplete="on"  method="post">
            {% csrf_token %}
	     <p><span>Selecionar el campo deseado</span> <select name="seleccion" id="seleccion">
            <option value="1">Interval</option>
            <option value="2">Ancho de Banda</option></select></p>
	   
	    
            <h2>Filtrar gráfico por:</h2> 
	      <p>Dejar el campo en blanco si no se desea filtrar por este.</p>
              <p> 
                <label for="ip_origen" ><b> IP origen:</b></label>
                <input id="ip_origen" name="ip_origen" type="text" placeholder="000.000.0.0"/>
              </p>
              <p> 
                <label for="ip_destino"><b>IP destino:</b> </label>
                <input id="ip_destino" name="ip_destino" type="text" placeholder="000.000.0.0" /> 
              </p>
              <p> 
                <label for="puerto_origen"><b> Puerto origen:</b> </label>
                <input id="puerto_origen" name="puerto_origen" type="text" placeholder="0000" /> 
              </p>
	      <p> 
                <label for="puerto_destino"><b>Puerto destino:</b> </label>
                <input id="puerto_destino" name="puerto_destino" type="text" placeholder="0000" /> 
              </p>                 
             <input type="submit" class="submit1" value="Generar gráfico" onclick=""> 
     </form>
   
   </div>
</div>

 {% if p %}
   <!--div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div-->    
 {% endif %}
{% if p %} 
<div id="resultado"></div> 
 <script type="text/javascript">


$(function plotTimes() {
// Load the fonts
 
Highcharts.createElement('link', {
   href: '//fonts.googleapis.com/css?family=Unica+One',
   rel: 'stylesheet',
   type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);

Highcharts.theme = {
   colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
      "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
   chart: {
      backgroundColor: {
         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
         stops: [
            [0, '#2a2a2b'],
            [1, '#3e3e40']
         ]
      },
      style: {
         fontFamily: "'Unica One', sans-serif"
      },
      plotBorderColor: '#606063'
   },
   title: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase',
         fontSize: '20px'
      }
   },
   subtitle: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase'
      }
   },
   xAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      },
      lineColor: '#707073',
      minorGridLineColor: '#505053',
      tickColor: '#707073',
      title: {
         style: {
            color: '#A0A0A3'

         }
      }
   },
   yAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      },
      lineColor: '#707073',
      minorGridLineColor: '#505053',
      tickColor: '#707073',
      tickWidth: 1,
      title: {
         style: {
            color: '#A0A0A3'
         }
      }
   },
   tooltip: {
      backgroundColor: 'rgba(0, 0, 0, 0.85)',
      style: {
         color: '#F0F0F0'
      }
   },
   plotOptions: {
      series: {
         dataLabels: {
            color: '#B0B0B3'
         },
         marker: {
            lineColor: '#333'
         }
      },
      boxplot: {
         fillColor: '#505053'
      },
      candlestick: {
         lineColor: 'white'
      },
      errorbar: {
         color: 'white'
      }
   },
   legend: {
      itemStyle: {
         color: '#E0E0E3'
      },
      itemHoverStyle: {
         color: '#FFF'
      },
      itemHiddenStyle: {
         color: '#606063'
      }
   },
   credits: {
      style: {
         color: '#666'
      }
   },
   labels: {
      style: {
         color: '#707073'
      }
   },

   drilldown: {
      activeAxisLabelStyle: {
         color: '#F0F0F3'
      },
      activeDataLabelStyle: {
         color: '#F0F0F3'
      }
   },

   navigation: {
      buttonOptions: {
         symbolStroke: '#DDDDDD',
         theme: {
            fill: '#505053'
         }
      }
   },

   // scroll charts
   rangeSelector: {
      buttonTheme: {
         fill: '#505053',
         stroke: '#000000',
         style: {
            color: '#CCC'
         },
         states: {
            hover: {
               fill: '#707073',
               stroke: '#000000',
               style: {
                  color: 'white'
               }
            },
            select: {
               fill: '#000003',
               stroke: '#000000',
               style: {
                  color: 'white'
               }
            }
         }
      },
      inputBoxBorderColor: '#505053',
      inputStyle: {
         backgroundColor: '#333',
         color: 'silver'
      },
      labelStyle: {
         color: 'silver'
      }
   },

   navigator: {
      handles: {
         backgroundColor: '#666',
         borderColor: '#AAA'
      },
      outlineColor: '#CCC',
      maskFill: 'rgba(255,255,255,0.1)',
      series: {
         color: '#7798BF',
         lineColor: '#A6C7ED'
      },
      xAxis: {
         gridLineColor: '#505053'
      }
   },

   scrollbar: {
      barBackgroundColor: '#808083',
      barBorderColor: '#808083',
      buttonArrowColor: '#CCC',
      buttonBackgroundColor: '#606063',
      buttonBorderColor: '#606063',
      rifleColor: '#FFF',
      trackBackgroundColor: '#404043',
      trackBorderColor: '#404043'
   },

   // special colors for some of the
   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
   background2: '#505053',
   dataLabelsColor: '#B0B0B3',
   textColor: '#C0C0C0',
   contrastTextColor: '#F0F0F3',
   maskColor: 'rgba(255,255,255,0.3)'
};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);
    $('#container').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'IPERF'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click en un área para hacer zoom' :
                    'Click en un área para hacer zoom'
        },
        xAxis: {
            type: 'datetime',
            minRange: 3600*24*10 // fourteen days
        },
        yAxis: {
            title: {
		{% if w == 1 %}
		                text: 'Interval'
		 {% else %}
				 text: 'Ancho de Banda'
		{% endif %}
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
	    {% if w == 1 %}
		                name: 'Interval',
		 {% else %}
				 name: 'Ancho de banda',
		{% endif %}
            
            pointInterval: 300000,
            pointStart: Date.UTC(2006, 0, 1),
	    data: [
	    {% if p %}
		    	{% if w == 1 %}
		     		{% for question in p %}
					{{question.duracion}},

		    		{% endfor %}
			
                        {% else %}
				{% for question in p %}
					{{question.bandwitdh}},

		    		{% endfor %}
			{% endif %}
 	     {% endif %}
	   ]
            
        }]
    });
});


	
    </script>  
    {% endif %}

 {% if p %}
   <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>    
 {% endif %}
{% if p %}

 <div class="form_settings">
 <input class="submit" type="button" value="Mostrar/Ocultar QoS filtrados" onclick="mostrar1()">
 <!--input  class="submit" type="button"value="Ocultar QoS filtrados" onclick="ocultar1()"-->
 </div>
 <div id='oculto1' style='display:none;'> 

 
    	<p><h2><font size=5> Parámetros de calidad de servicio utilizando el método:<i> Iperf.(Filtrados)</i></h2></font><p>
    	<table class=tabla1 >
		<tr>
		<td >Id</td>
		<td>Timestamp</td>
		<td>IP Origen</td>
		<td>Puerto Origen</td>
		<td>IP Destino</td>
		<td>Puerto Destino</td>
		<td>Duracion</td>
		<td>Ancho de banda (Gbits/sec)</td>
       </tr></table>
	<div class=tabla style=" height: 200px; overflow-y:scroll">
	<table class=tabla>

     	{% for question in p %}
		<tr>
		<td >{{question.id}}</td>
		<td >{{question.timestamp}}</td>
		<td>{{question.IP_origen}}</td>
		<td>{{question.puerto_origen}}</td>
		<td>{{question.IP_destino}}</td>
		<td>{{question.puerto_destino}}</td>
		<td>{{question.duracion}}</td>
		<td>{{question.bandwitdh}}</td>
       
		</tr>

    	{% endfor %}
    		</table></div>
        

    {% else %}
    
    {% endif %}

 </div>
  
   <footer>
      <p>Copyright &copy; scenic_photo | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
    </footer>
  </div>
  <p>&nbsp;</p>

</body>
</html>
